player-connection-mode=Connect
player-connection-guid=2085599994
player-connection-debug=0
player-connection-project-name=E1JXEX_diploma
player-connection-wait-timeout=-1
player-connection-ip=192.168.50.171
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=7a92649f56dc45e5bae8c66b308ff705
